/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#include "zmk-helpers/helper.h"
// Source desired key-position labels
#include "zmk-helpers/key-labels/lily58.h"
// Source unicode-chars for desired languages
#include "zmk-helpers/unicode-chars/russian.dtsi"

#define _BT_SEL_KEYS_                                                        \
      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR

#define ___ &trans
#define XXX &none
 
#define DEF 0
#define NAV 1
#define NUM 2
#define SYM 3
#define SYS 4

/* Timeless homerow mods */

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5 LF0 LF1 LF2 LF3 LF4 LF5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5 RF0 RF1 RF2 RF3 RF4 RF5  // right hand
#define THUMBS LH3 LH2 LH1 LH0 RH0 RH1 RH2 RH3                            // thumbs

#define QUICK_TAP_MS 175

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS)                                 \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; flavor = "balanced";            \
               tapping-term-ms = <280>; quick-tap-ms = <QUICK_TAP_MS>;         \
               require-prior-idle-ms = <150>; hold-trigger-on-release;         \
               hold-trigger-key-positions = <TRIGGER_POS>;)

MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS) // Left-hand HRMs.
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS) // Right-hand HRMs.

/* Tri-layer: holding num + sym together activates sys */
ZMK_CONDITIONAL_LAYER(sys, NUM SYM, SYS)

/* Bluetooth: tap does nothing, hold 3s clears the current profile's bond */
ZMK_MACRO(bt_clear, bindings = <&bt BT_CLR>;)

ZMK_HOLD_TAP(bt_clear_ht, bindings = <&bt_clear>, <&none>;
             flavor = "tap-preferred"; tapping-term-ms = <3000>;)

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  `  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
// | TAB |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   ]   |
// | ESC | A/A | S/G | D/S  | F/C  |  G   |                   |  H   | J/C   | K/S   | L/G  |  ;/A  |   '   |
// | \   |  Z  |  X  |  C   |  V   |  B   |   xxx  |  |  xxx  |  N   |  M    |  ,    |  .   |   /   |   ]   |
//                   | xxx  | num  |nav/spc| xxx  |  |  xxx  | BSPC | sym  | ENTER |
            // display-name = "def";
            bindings = <
&kp GRAVE &kp N1        &kp N2      &kp N3       &kp N4       &kp N5                             &kp N6     &kp N7       &kp N8       &kp N9      &kp N0         &kp GRAVE
&kp TAB   &kp Q         &kp W       &kp E        &kp R        &kp T                              &kp Y      &kp U        &kp I        &kp O       &kp P          &kp MINUS
&kp ESC   &hml LALT A   &hml LGUI S &hml LSHFT D &hml LCTRL F &kp G                              &kp H      &hmr RCTRL J &hmr RSHFT K &hmr RGUI L &hmr RALT SEMI &kp SQT
&none     &kp Z         &kp X       &kp C        &kp V        &kp B            XXX        XXX    &kp N      &kp M        &kp COMMA    &kp DOT     &kp FSLH       &kp RSHFT
                                    XXX          &mo NUM      &lt NAV SPACE    XXX        XXX    &kp BSPC   &mo SYM       &kp RET
            >;
        };

        nav_layer {
// ------------------------------------------------------------------------------------------------------------
// |     |     |     |      |      |      |                   |      |       |       |      |       |       |
// |     |     |     |      |      |      |                   | PGUP | HOME  |  UP   |  END |       |       |
// |     |     |     |      |      |      |                   | PGDN | LEFT  | DOWN  | RIGHT|  MENU |       |
// |     |     |     |      |      |      |   xxx  |  |  xxx  |      | BSPC  |  DEL  |      |       |       |
//                   |      |      |      |   xxx  |  |  xxx  |      |       |       |
            display-name = "navigation";
            bindings = <
&trans &trans &trans &trans &trans &trans                              &trans    &trans     &trans    &trans     &trans &trans
&trans &trans &trans &trans &trans &trans                              &kp PG_UP &kp HOME   &kp UP    &kp END    &trans &trans
&trans &trans &trans &trans &trans &trans                              &kp PG_DN &kp LEFT   &kp DOWN  &kp RIGHT  &kp K_APPLICATION &trans
&trans &trans &trans &trans &trans &trans &trans &trans                &trans    &kp BACKSPACE &kp DELETE &trans  &trans &trans
                     &trans &trans &trans &trans &trans                &trans    &trans     &trans
            >;
        };

        num_layer {
// ------------------------------------------------------------------------------------------------------------
// |     |     |     |      |      |      |                   |      |       |       |      |       |       |
// |     |     |     |      |      |      |                   |      |   7   |   8   |   9  |   @   |       |
// |     |     |     |      |      |      |                   |  -   |   4   |   5   |   6  |       |       |
// |     |     |     |      |      |      |   xxx  |  |  xxx  |  +   |   1   |   2   |   3  |       |       |
//                   |      |      |      |   xxx  |  |  xxx  |      |       |   0   |
            display-name = "number";
            bindings = <
&trans &trans &trans &trans &trans &trans                   &trans &trans   &trans   &trans   &trans &trans
&trans &trans &trans &trans &trans &trans                   &trans &kp N7   &kp N8   &kp N9   &kp AT &trans
&trans &trans &trans &trans &trans &trans                   &kp MINUS &kp N4 &kp N5  &kp N6   &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans     &kp PLUS &kp N1  &kp N2   &kp N3   &trans &trans
                     &trans &trans &trans &trans &trans     &trans &trans &kp N0
            >;
        };

        sym_layer {
// ------------------------------------------------------------------------------------------------------------
// |     |     |     |      |      |      |                   |      |       |       |      |       |       |
// |     |     |     |      |      |      |                   |      |       |       |      |       |       |
// |     |     |     |      |      |      |                   |      |       |       |      |       |       |
// |     |     |     |      |      |      |   xxx  |  |  xxx  |      |       |       |      |       |       |
//                   |      |      |      |   xxx  |  |  xxx  |      |       |       |
            display-name = "symbol";
            bindings = <
&trans &trans &trans &trans &trans &trans                   &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                   &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                   &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans &trans
                     &trans &trans &trans &trans &trans     &trans &trans &trans
            >;
        };

        sys_layer {
// ------------------------------------------------------------------------------------------------------------
// | reached by holding num + sym together
// |CLR/3s|  1  |  2  |  3   |  4   |  5   |                   |      |       |       |      |       |       |
// |     |     |     |      |      |      |                   |      |       |       |      |       |       |
// |     |     |     |      |      |      |                   |      |       |       |      |       |       |
// |     |     |     |      |      |      |   xxx  |  |  xxx  |      |       |       |      |       |       |
//                   |      |      |      |   xxx  |  |  xxx  |      |       |       |
            display-name = "system";
            bindings = <
&bt_clear_ht 0 0 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                   &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                   &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans &trans
                     &trans &trans &trans &trans &trans    &trans &trans &trans
            >;
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
